body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  font-family: "Roboto", sans-serif;
}
iframe{
  margin: 50px;
}
.icon {
  height: 2em;
  position: relative;
}
.icon-resume {
  height: 5em;
}
.icon-resume:hover {
  border: 1px solid rgba(0, 0, 0, 0);
}
.icon-resume:active {
  border: 4px solid rgba(0, 0, 0, 0);
}
.icon:hover {
  border: 1px solid #343a40;
  border-radius: 100%;
}
.icon:active {
  border: 4px solid #343a40;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  margin-bottom: 0 !important;
}
.container-fluid {
  height: 98vh;
}
