body {
  background-color: #000000;
  background: #020300;
  font-family: "Roboto", sans-serif;
}
iframe {
  margin: 50px;
}
.icon {
  height: 2em;
  position: relative;
}
.icon-resume {
  height: 5em;
}
.icon-resume:hover {
  border: 1px solid rgba(0, 0, 0, 0);
}
.icon-resume:active {
  border: 4px solid rgba(0, 0, 0, 0);
}
.icon:hover {
  border: 1px solid #343a40;
  border-radius: 100%;
}
.icon:active {
  border: 4px solid #343a40;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  margin-bottom: 0 !important;
  line-height: 30px;
}
.container-fluid {
  height: 90vh;
}
span {
  font-weight: bold;
}
.picture {
  position: fixed;
  left: 0;
  bottom: 0;
}